<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
</head>
<body>
    <h1>{{user}}'s Schedule</h1>
    <h2>Experience: {{experience}} / {{max}}</h2>
    <br>

    <table class="table" border="1" width="80%" height="100%">
        <thead>
            <tr>
                <th scope="col">Tasks</th>
                <th scope="col">Completed</th>
            </tr>
            </thead>
    
            <tbody>
            {% for task,flag in tasks %}
            <tr>
                <td align="center">{{task}}</td>
                <td align="center"> {{flag}}</td>
            </tr>
            {% endfor %}

            </tbody>
    </table>

    <br>

    <h2>Check Off Task:</h2>

    <form method="POST">
        {% csrf_token %}

        {% for field in form %}

            <p>{{field.label}}: {{field}} {{ field.errors }}</p>
        
        {% endfor %}

        {% if messages %}
            {% for message in messages%}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}

        {% if form.errors %}
            <div class="errorlist">
                <strong>Error:</strong>
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        <input type="submit" name="completion">
    </form>

    <br>
    <button><a href="/editSchedule">Edit Schedule</a></button>

    <br>
    <button><a href="/logout">Log Out</a></button>
</body>
</html>